@model EduEnginee.Areas.Admission.Models.Institute

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<fieldset>
    <legend>Institute</legend>
    @Html.Action("_ShortDetails","In",new {id=Model.Id})


    <table class="mainTable" align="center">
<tr>
			<td width="200px" valign="top" align="left">
            <u>Vice Chancellor</u><br />
            @Model.HeadName

			</td>
			
			<td width="500px" valign="top">
				<table cellspacing="0" cellpadding="0" class="rel">
						<tbody><tr>
							<th colspan="3">
								General Information
							</th>
						</tr>
						<tr>
							<td width="38%">Male Student</td>
							<td width="5%">:</td>
							<td width="7%" align="right">@Model.NoOfMaleStd</td>
						</tr>
						<tr>
							<td>Female Student</td>
							<td>:</td>
							<td align="right">@Model.NoOfFemaleStd</td>
						</tr>	
						<tr>
							<td>Total Teacher</td>
							<td>:</td>
							<td align="right">@Model.NoOfTeacher</td>
						</tr>
						<tr>
							<td>Male Hostel Seat</td>
							<td>:</td>
							<td align="right">@Model.NoOfMaleHostelSit</td>
						</tr>
						<tr>
							<td>Female Hostel Seat</td>
							<td>:</td>
							<td align="right">@Model.NoOfFemaleHostelSit</td>
						</tr>				
					</tbody></table>
			</td>
		</tr>
    </table>
    <br />
    <br />
    <br />
    <br />


    <div id="tabs" width="220px"  aligh="center">
   <ul>
 
 
        <li><a href="#1">News</a></li>    
        <li><a href="#2">Notices</a></li>    
        <li><a href="#3">Circular</a></li> 
        <div id="1">
        <p><br /><br /><br />  @Html.Action("_NewsList","News",new {instituteId=Model.Id})   </p>
        </div>
        <div id="2">
        <p><br /><br /><br /> @Html.Action("_NoticeList","Notice",new {instituteId=Model.Id})</p>
        </div>
        <div id="3">
        <p><br /><br /><br /> @Html.Action("_CirList","Circular",new {instituteId=Model.Id})</p>
        </div>
              
    </div>
   
    
        
    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
