@model IEnumerable<EduEnginee.Areas.Admission.Models.Institute>

<table>
    <tr>
        <th width="40%">
            @Html.DisplayNameFor(model => model.Title)
        </th>
               
        <th width="15%">
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th width="25%">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>

@*        <th>
            Circular
        </th>
        <th>
            Notice
        </th>
        <th>
            News
        </th>*@
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>            
            @Html.ActionLink(item.Title,"Details","In",new {id=item.Id},null)
        </td>
        
       
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
        @if (!String.IsNullOrEmpty(item.EmailAddress))
        {
            <a title="@item.EmailAddress" class="email" target="_blank" href="mailto:@item.EmailAddress">@item.EmailAddress</a>
        }
        else
        {
            @Html.Raw("N/A")
        }
            

        </td>

      @*  <td>
            @item.Circulars.Count
        </td>
        <td>
            @item.Notices.Count
        </td>
        <td>
            @item.News.Count
        </td>        *@


    </tr>
}

</table>