@model IEnumerable<EduEnginee.Areas.Admission.Models.Institute>
<table>
    <tr>
        <th width="30%">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th width="15%">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        @if (User.IsInRole("admin"))
        {
            <th>            
            </th>
            
            <th>
            </th>
        }

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="tdActionLink">
                @Html.ActionLink(item.Title, "Details", "In", new { id = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @if (!String.IsNullOrEmpty(item.EmailAddress))
                {
                    <a title="@item.EmailAddress" class="email" target="_blank" href="mailto:@item.EmailAddress">@item.EmailAddress</a>
                }
                else
                {
                    @Html.Raw("N/A")
                }
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    <a href= '@Url.Action("Edit", new { id = item.Id }) '>
                        <img src="../../Content/Edit.png" alt="Edit" /></a>
                </td>
                <td>
                    <a href='@Url.Action("Delete", new { id = item.Id }) '>
                        <img src="../../Content/Delete.png" alt="Edit" /></a>
                </td>
                
            }
        </tr>
    }
</table>
