@model EduEnginee.Areas.Admission.Models.Institute

<fieldset>
    <legend>Institute</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InstituteSubcataryId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InstituteSubcataryId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CountryId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsEnable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsEnable)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebSite)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebSite)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstablishDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstablishDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoDirectory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoDirectory)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoOfMaleStd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoOfMaleStd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoOfFemaleStd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoOfFemaleStd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoOfTeacher)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoOfTeacher)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoOfMaleHostelSit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoOfMaleHostelSit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoOfFemaleHostelSit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoOfFemaleHostelSit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
