@model IEnumerable<EduEnginee.Areas.Admission.Models.Circular>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Institute.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResultLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatPlanLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEnable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Session)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmissionReq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplyProc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EligibleCanDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmissionType.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Institute.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResultLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatPlanLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEnable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Session)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdmissionReq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplyProc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EligibleCanDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdmissionType.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
