@{
    ViewBag.Title = "QuestionDefinitions";
    Layout = "~/Views/Shared/_SpaLayout.cshtml";
}

<div data-bind="visible: editingQuestionDefinition">
    @Html.Partial("_Editor")
</div>

<div data-bind="visible: !editingQuestionDefinition()">
    @Html.Partial("_Grid")
</div>

<div class="message-info message-success" data-bind="flash: { text: successMessage, duration: 5000 }"></div>
<div class="message-info message-error" data-bind="flash: { text: errorMessage, duration: 20000 }"></div>

<script type="text/javascript" src="@Url.Content("~/Scripts/QuestionDefinitionsViewModel.js")"></script>
<script type="text/javascript">
    $(function () {
        upshot.metadata(@(Html.Metadata<EduEnginee.Controllers.QuizDbController>()));

        var viewModel = new MyApp.QuestionDefinitionsViewModel({
            serviceUrl: "@Url.Content("~/api/QuizDb")"
        });
        ko.applyBindings(viewModel);
    });
</script>