@model EduEnginee.Areas.Visa.Models.VisaProcedureSet

<fieldset>
    <legend>VisaProcedureSet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Visafee)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Visafee)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RequiredDocument)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RequiredDocument)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Where_toApply)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Where_toApply)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SpecialNote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SpecialNote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhotographyInformation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhotographyInformation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BasicRequirement)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BasicRequirement)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VisaTypeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VisaTypeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country_Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VFS_charge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VFS_charge)
    </div>
</fieldset>

