@model EduEnginee.Areas.Quiz.Models.QuestionDefinition

<fieldset>
    <legend>QuestionDefinition</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SortOrder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortOrder)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuizDefinitionKey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuizDefinitionKey)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuestionText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Option1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Option1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Option2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Option2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Option3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Option3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Option4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Option4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CorrectAns)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CorrectAns)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Explanation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Explanation)
    </div>
</fieldset>

