<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
        <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
        <script src="../../Scripts/jquery-1.6.2.min.js" type="text/javascript"></script>
        <script src="../../Scripts/jquery-ui-1.8.11.min.js" type="text/javascript"></script>

        <script>
              $(document).ready(function () {
                  $("#accordion").accordion();
              });
        </script>


        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  
          <script>
              $(document).ready(function () {
                  $("#tabs").tabs();
              });
          </script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Education Engine", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            @*<li>@Html.ActionLink("Create A new Quiz", "Create", "QuizDefinition")</li>*@
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
@*                            <li>@Html.ActionLink("Quize", "Index", "QuizDefn", new { Area = "Quiz" }, new{})</li>
                            <li>@Html.ActionLink("Question", "Index", "Question", new { Area = "Quiz" }, new{})</li>*@
@*                            <li>@Html.ActionLink("Country", "Index", "Country", new { Area = "Admission" }, new{})</li>
                            <li>@Html.ActionLink("Ad Type", "Index", "AdType", new { Area = "Admission" }, new{})</li>*@
@*                            <li>@Html.ActionLink("In Type", "Index", "InType", new { Area = "Admission" }, new { })</li>
                            <li>@Html.ActionLink("In Cat", "Index", "InCat", new { Area = "Admission" }, new{})</li>
                            <li>@Html.ActionLink("In Sub Cat", "Index", "InSubCat", new { Area = "Admission" }, new { })</li>
                            <li>@Html.ActionLink("In", "Index", "AjaxIn", new { Area = "Admission" }, new { })</li>*@
                            @*<li>@Html.ActionLink("In", "Index", "In", new { Area = "Admission" }, new { })</li>*@
                            @*<li>@Html.ActionLink("RepoIn", "Index", "RepoIn", new { Area = "Admission" }, new { })</li>*@
@*                            <li>@Html.ActionLink("Circular", "Index", "Circular", new { Area = "Admission" }, new { })</li>
                            <li>@Html.ActionLink("News", "Index", "AjaxNews", new { Area = "Admission" }, new { })</li>
                            <li>@Html.ActionLink("Notice", "Index", "AjaxNotice", new { Area = "Admission" }, new { })</li>
                            <li>@Html.ActionLink("Circular", "Index", "Circular", new { Area = "Admission" }, new { })</li>*@
                            <li>@Html.ActionLink("Dash Board", "Index", "Dashboard", new { Area = "Admission" }, new { })</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
