@model EduEnginee.Areas.Admission.Models.Notice

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<fieldset>
    <legend>News</legend>
    @Html.Action("_ShortDetails", "In", new { id = Model.InstituteId })
    @Html.Partial("_Details",Model)

</fieldset>
@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })|
        @Html.ActionLink("List","ViewerCirIndex")
    </p>
    
    
}
else
{
    <p>
        @Html.ActionLink("List","ViewerCirIndex")</p>
}
