@model EduEnginee.Models.QuizDefinition

@*@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>*@

<fieldset>
    <legend>QuizDefinition</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuizName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuizName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeLimitInMinutes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeLimitInMinutes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedDate)
    </div>
</fieldset>

