@model EduEnginee.Areas.Quiz.Models.QuizDefinition

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>QuizDefinition</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuizName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuizName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeLimitInMinutes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeLimitInMinutes)
    </div>

    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
