@model IEnumerable<EduEnginee.Areas.Quiz.Models.QuizDefinition>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="accordion">
@foreach (var item in Model)
{
    
    <h3><a href="#">@item.QuizName</a></h3>
	<div>
        <p>  
        @Html.Partial("_Details",  item )           
		</p>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |            
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        
        </p>
	</div>
    
}	
</div>